{{> header}}
<div class="bg-gray-200 my-8 2xl:my-0 2xl:h-screen overflow-hidden flex items-center justify-center">
    <div class="w-10/12 lg:w-9/12 xl:w-7/12 flex">
        <div class="w-full h-auto hidden lg:block lg:w-1/2 bg-cover rounded-lg lg:rounded-r-none"
             style="background-image: url('https://mlqfdkzc0cug.i.optimole.com/w:auto/h:auto/q:mauto/f:avif/https://humanit.as/experiences/wp-content/uploads/sites/7/2015/12/Question-Mark-HD-Wallpaper15.jpg')">
        </div>
        <div class="w-full lg:w-1/2 bg-white rounded-lg lg:rounded-l-none py-24 px-12 flex flex-col justify-center items-center">
            <h3 class="font-bold text-3xl text-indigo-700 text-center tracking-widest uppercase my-6">Tu cuenta fue
                creada con éxito</h3>
            <p class="text-lg my-6">¡Te enviamos un correo electrónico a <span class="font-bold">{{.}}</span> para
                confirmar tu cuenta!</p>
        </div>
    </div>
</div>