{{> header}}


<!-- Breadcrumb -->
<nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
     aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a href="/tpFinal/lobby/list"
               class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                </svg>
                Lobby
            </a>
        </li>
        <li aria-current="page">
            <div class="flex items-center">
                <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Estadisticas</span>
            </div>
        </li>
    </ol>
    <div class="w-full flex justify-end pr-6">
        <button class="hidden" id="reproducirMusica">
            <i class="fa-solid fa-volume-high fa-2xl"></i>
        </button>
        <button id="pausarMusica">
            <i class="fa-solid fa-volume-xmark fa-2xl"></i>
        </button>
    </div>
</nav>
<h1 class="text-center text-4xl font-bold my-20">ESTADISTICAS</h1>
<div class="w-1/2 flex flex-wrap justify-center items-center mx-auto my-4">
    <a href="/tpFinal/administrador/cantJugadores"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">JUGADORES
        NUEVOS
    </a>
    <a href="/tpFinal/administrador/statsPreguntas"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">PREGUNTAS
    </a>
    <a href="/tpFinal/administrador/cantPartidasJugadas"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">PARTIDAS
        JUGADAS
    </a>
    <a href="/tpFinal/administrador/cantUsuariosEdad"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">USUARIOS
        POR EDAD
    </a>
    <a href="/tpFinal/administrador/cantUsuariosSexo"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">USUARIOS
        POR SEXO
    </a>
    <a href="/tpFinal/administrador/cantUsuariosPais"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">USUARIOS
        POR PAIS
    </a>
    <a href="/tpFinal/administrador/porcentajeAciertoPorJugador"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">PORCENTAJE
        ACIERTO
    </a>
    <a href="/tpFinal/administrador/comprasTrampitas"
       class="border border-solid border-gray-500 w-32 h-16 p-2 m-2 hover:bg-gray-500 hover:text-white duration-200 flex justify-center items-center text-center">COMPRAS
        TRAMPITAS
    </a>
</div>
