{{> header}}
<style>
    body {
        background-image: url("/TpFinal/public/img/quiz_time.jpg");
        background-size: cover;
        background-position: center;
    }

    .neon-border {
        position: relative;
        box-shadow: 0 0 10px #6ee7f5, 0 0 10px #6ee7f5, 0 0 10px #6ee7f5;
    }

    .loading .line-box .line {
        animation: loading 1.8s forwards cubic-bezier(0, 0, 0, 0);
    }

    @keyframes loading {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
</style>
<div id="container" class="flex flex-col justify-center items-center w-full my-8 2xl:my-0 2xl:h-screen">
    <div id="contenedor-numero-pregunta" class="bg-purple-500 p-4 rounded-lg shadow-lg">
        <h1 class="font-bold text-5xl text-center text-white">Pregunta <span id="nroPregunta"
                                                                             class="font-bold text-5xl text-center text-white">1</span>
        </h1>
    </div>
    <div id="contenedor-pregunta" class="bg-white p-12 rounded-lg shadow-lg w-[90%] sm:w-[500px] mt-8 neon-border">
        <div class="w-full flex justify-end pb-4">
            <button class="hidden" id="reproducirMusica">
                <i class="fa-solid fa-volume-high fa-2xl"></i>
            </button>
            <button id="pausarMusica">
                <i class="fa-solid fa-volume-xmark fa-2xl"></i>
            </button>
        </div>
        <div id="categoria"></div>
        <p class="text-xl text-purple-500 my-2">Puntaje: <span id="puntaje">0</span></p>
        <p class="text-xl text-purple-500 my-2">Trampitas: <span id="trampitas">{{trampitas}}</span></p>
        <div>Tiempo restante: <span id="temporizador">{{tiempoLimite}}</span> segundos</div>
        <p id="pregunta" class="text-2xl font-bold my-2"></p>
        <form method="POST" id="form-pregunta">
            <label for="a" id="opcion-a"
                   class="opcion whitespace-normal block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="a" type="radio" class="hidden"></label>
            <label for="b" id="opcion-b"
                   class="opcion whitespace-normal block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="b" type="radio" class="hidden"></label>
            <label for="c" id="opcion-c"
                   class="opcion whitespace-normal block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="c" type="radio" class="hidden"></label>
            <label for="d" id="opcion-d"
                   class="opcion whitespace-normal block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="d" type="radio" class="hidden"></label>
            <div id="mensaje-seleccionar-respuesta"
                 class="hidden w-4/5 text-center text-lg bg-red-200 rounded my-4 text-red-800 font-bold">¡Debe
                seleccionar una respuesta!
            </div>
            <div class="w-full flex justify-between mt-6">
                <button type="button"
                        class="text-purple-500 text-md font-bold tracking-wide px-5 py-2 hover:bg-gray-200 hover:rounded-full cursor-pointer"
                        onclick="reportarPregunta()">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Reportar
                </button>
                <input type="hidden" name="id_pregunta" id="id_pregunta" value="">
                <input type="hidden" name="respuesta_seleccionada" id="respuesta_seleccionada" value="">
                <button type="button"
                        class="text-purple-500 text-md font-bold tracking-wide px-5 py-2 hover:bg-gray-200 hover:rounded-full cursor-pointer"
                        id="usarTrampita">
                    <i class="fa-solid fa-forward-fast"></i>
                    Usar trampita
                </button>
                <button type="submit"
                        class="bg-purple-500 text-white text-sm font-bold tracking-wide rounded-full px-5 py-2">
                    Responder
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    let tiempoRestante = 10; // Inicializar el tiempo restante a 10 segundos
    let temporizador; // letiable para almacenar el temporizador
    let respondio = false;
    let cantidadTrampitas;
    let clickeoLink = false;

    window.addEventListener('beforeunload', function (event) {
        if (!clickeoLink) {
            event.preventDefault();
            event.returnValue = '';
        }
    });

    function clickeaLink() {
        clickeoLink = true;
    }

    function iniciarTemporizador() {
        temporizador = setInterval(function () {
            if (tiempoRestante > 0) {
                tiempoRestante--;
                $('#temporizador').text(tiempoRestante); // Actualizar el elemento en la vista con el tiempo restante
            } else {
                clearInterval(temporizador); // Detener el temporizador
                terminarPartida();
            }
        }, 1000); // Actualizar el temporizador cada segundo (1000 ms)
    }

    async function terminarPartida() {
        try {
            const response = await fetch('http://localhost/tpFinal/partida/totalPuntaje');
            const totalJson = await response.json();

            if (tiempoRestante === 0 && respondio === false) {
                $('#recuadroReporte').remove();
                $('#recuadroTrampita').remove();
                $('#contenedor-numero-pregunta').remove();
                $('#contenedor-pregunta').remove();
                $('#container').hide().append('<div class="max-w-xl p-12 bg-white rounded-lg shadow-lg neon-border">' +
                        '<h2 class="text-4xl font-bold text-center text-purple-700 mb-10">¡Partida finalizada!</h2>' +
                        '<p class="text-xl mb-4">Tiempo agotado.</p>' +
                        '<div class="my-10 text-center">' +
                        '<p class="text-2xl text-purple-700">Puntaje final:</p>' +
                        '<p class="text-6xl font-bold text-purple-500">' + totalJson + '</p>' +
                        '</div>' +
                        '<div class="flex justify-center space-x-4">' +
                        '<a onclick="clickeaLink()" href="/tpFinal/partida/pregunta" class="bg-purple-500 neon-border hover:bg-purple-600 text-white px-6 py-3 rounded-md font-medium">Jugar de nuevo</a>' +
                        '<a onclick="clickeaLink()" href="/tpfinal/lobby" class="bg-white border neon-border hover:bg-purple-600 text-black hover:text-white px-6 py-3 rounded-md font-medium">Volver al lobby</a>' +
                        '</div>' +
                        '</div>'
                ).show();
            }
        } catch (e) {
            console.log(e)
        }
    }

    function cargarPregunta() {
        tiempoRestante = 10; // Reiniciar el tiempo restante a 10 segundos al cargar una nueva pregunta
        $('#temporizador').text(tiempoRestante);
        $('#errorTrampita').remove();
        $('#cartel-reporte-enviado').remove();
        $.ajax({
            url: 'http://localhost/tpFinal/partida/siguientePregunta',
            method: 'GET',
            success: function (preguntatxt) {
                let pregunta = JSON.parse(preguntatxt);
                $('#id_pregunta').val(pregunta.id);
                let respuestaA = pregunta.respuesta_a;
                let respuestaB = pregunta.respuesta_b;
                let respuestaC = pregunta.respuesta_c;
                let respuestaD = pregunta.respuesta_d;
                let opcionA = $('#opcion-a');
                let opcionB = $('#opcion-b');
                let opcionC = $('#opcion-c');
                let opcionD = $('#opcion-d');

                switch (pregunta.id_categoria) {
                    case '1':
                        $('#categoria').html('<div class="w-full text-center text-xl text-orange-800 font-bold p-4 bg-orange-300">Deporte</div>');
                        break;
                    case '2':
                        $('#categoria').html('<div class="w-full text-center text-xl text-purple-400 font-bold p-4 bg-purple-200">Geografía</div>');
                        break;
                    case '3':
                        $('#categoria').html('<div class="w-full text-center text-xl text-pink-800 font-bold p-4 bg-pink-300">Música</div>');
                        break;
                    case '4':
                        $('#categoria').html('<div class="w-full text-center text-xl text-red-800 font-bold p-4 bg-red-300">Entretenimiento</div>');
                        break;
                    case '5':
                        $('#categoria').html('<div class="w-full text-center text-xl text-yellow-800 font-bold p-4 bg-yellow-300">Historia</div>');
                        break;
                    case '6':
                        $('#categoria').html('<div class="w-full text-center text-xl text-green-800 font-bold p-4 bg-green-300">Tecnología</div>');
                        break;
                    case '7':
                        $('#categoria').html('<div class="w-full text-center text-xl text-blue-800 font-bold p-4 bg-blue-300">Literatura</div>');
                        break;
                    case '8':
                        $('#categoria').html('<div class="w-full text-center text-xl text-teal-800 font-bold p-4 bg-teal-300">Matemática</div>');
                        break;
                }

                $('#pregunta').text(pregunta.pregunta);
                $('#opcion-a').text(respuestaA);
                $('#opcion-b').text(respuestaB);
                $('#opcion-c').text(respuestaC);
                $('#opcion-d').text(respuestaD);

                opcionA.click(function () {
                    $(this).addClass('bg-gray-500 text-gray-100');
                    opcionB.removeClass('bg-gray-500 text-gray-100');
                    opcionC.removeClass('bg-gray-500 text-gray-100');
                    opcionD.removeClass('bg-gray-500 text-gray-100');
                    $('#respuesta_seleccionada').val(respuestaA);
                });
                opcionB.click(function () {
                    $(this).addClass('bg-gray-500 text-gray-100');
                    opcionA.removeClass('bg-gray-500 text-gray-100');
                    opcionC.removeClass('bg-gray-500 text-gray-100');
                    opcionD.removeClass('bg-gray-500 text-gray-100');
                    $('#respuesta_seleccionada').val(respuestaB);
                });
                opcionC.click(function () {
                    $(this).addClass('bg-gray-500 text-gray-100');
                    opcionA.removeClass('bg-gray-500 text-gray-100');
                    opcionB.removeClass('bg-gray-500 text-gray-100');
                    opcionD.removeClass('bg-gray-500 text-gray-100');
                    $('#respuesta_seleccionada').val(respuestaC);
                });
                opcionD.click(function () {
                    $(this).addClass('bg-gray-500 text-gray-100');
                    opcionA.removeClass('bg-gray-500 text-gray-100');
                    opcionB.removeClass('bg-gray-500 text-gray-100');
                    opcionC.removeClass('bg-gray-500 text-gray-100');
                    $('#respuesta_seleccionada').val(respuestaD);
                });

            },
            error: function (xhr, status, error) {
                alert('error');
            }
        });
        $.ajax({
            url: 'http://localhost/tpFinal/partida/actualizarTrampitas',
            method: 'GET',
            success: function (data) {
                let trampitas = JSON.parse(data);
                cantidadTrampitas = trampitas.trampitas;
                $('#trampitas').text(cantidadTrampitas);

            },
            error: function (xhr, status, error) {

            }
        });
    }

    function reportarPregunta() {
        let $recuadro = $('<div id="recuadroReporte">').addClass('flex justify-center items-center fixed inset-0 bg-gray-500 bg-opacity-80');
        let $contenidoRecuadro = $('<div>').addClass('flex flex-col justify-center items-center w-[80%] sm:w-[450px] h-[400px] sm:h-[450px] bg-white border border-gray-100');
        $recuadro.append($contenidoRecuadro);
        $contenidoRecuadro.append('<p class="text-center text-3xl text-purple-500 font-bold">¿Desea reportar la pregunta?</p>');
        $contenidoRecuadro.append('<img src="/TpFinal/public/img/angry-man.png" class="w-48 my-6"/>');
        $contenidoRecuadro.append('<div class="w-full flex justify-center"><button id="cancelarReporte" class="w-2/5 bg-red-500 hover:bg-red-600 duration-300 text-white text-sm font-bold tracking-wide rounded-full mx-2 px-5 py-2">No</button><button type="submit" id="enviarReporte" class="w-2/5 bg-green-500 hover:bg-green-600 duration-300 text-white text-sm font-bold tracking-wide rounded-full mx-2 px-5 py-2">Sí</button></div>');
        $('body').append($recuadro);
        $('#enviarReporte').click(function () {
            $.ajax({
                url: 'http://localhost/tpFinal/partida/reportarPregunta',
                type: 'POST',
                data: {
                    id_pregunta: $('#id_pregunta').val()
                },
                success: function (response) {
                    $recuadro.remove();
                    $('#contenedor-pregunta').append('<div id="cartel-reporte-enviado" class="w-[90%] bg-yellow-300 text-yellow-800 font-bold mx-auto mt-6 p-3 rounded">Se reportó la pregunta.</div>');
                },
                error: function (xhr, status, error) {

                }
            });
        });
        $('#cancelarReporte').click(function () {
            $recuadro.remove();
        });
    }

    $(document).ready(function () {
        cargarPregunta();
        iniciarTemporizador();
        $('#form-pregunta').submit(function (e) {
            respondio = true;
            e.preventDefault();
            if ($('#respuesta_seleccionada').val() === '') {
                $('#mensaje-seleccionar-respuesta').removeClass('hidden');
                $('#mensaje-seleccionar-respuesta').addClass('block');
            } else {
                $('#mensaje-seleccionar-respuesta').addClass('hidden');
                $('#mensaje-seleccionar-respuesta').removeClass('block');
                $.ajax({
                    url: 'http://localhost/tpFinal/partida/responder',
                    type: 'POST',
                    data: {
                        id_pregunta: $('#id_pregunta').val(),
                        respuesta_seleccionada: $('#respuesta_seleccionada').val()
                    },
                    success: function (response) {
                        let data = JSON.parse(response);

                        if (data.esLaRespuestaCorrecta && respondio) {
                            $('#puntaje').text(data.puntos);
                            setTimeout(function () {
                                $('#contenedor-numero-pregunta').hide();
                                $('#contenedor-pregunta').hide();
                                cargarPregunta();
                                respondio = false;
                                tiempoRestante += 2
                                $('#container').hide().append('<div id="resultado" class="bg-white shadow-lg rounded-lg p-8 neon-border">' +
                                        '<h1 class="text-5xl font-bold text-center text-blue-700 my-8">¡Respuesta Correcta!</h1>' +
                                        '<div class="flex justify-center items-center">' +
                                        '<img src="/TpFinal/public/img/carafeliz1.png" class="h-32" alt="Cara Feliz" />' +
                                        '</div>' +
                                        '<div class="my-8 loading w-full h-auto flex justify-center items-center">' +
                                        '<div class="line-box w-4/5 border border-2 border-gray-200 rounded-2xl">' +
                                        '<div class="line h-5 rounded-2xl bg-[#67D295]">' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>'
                                ).show();
                                setTimeout(function () {
                                    $('#nroPregunta').text(data.puntos + 1);
                                    $('#respuesta_seleccionada').val('');
                                    $('.opcion').each(function () {
                                        if ($(this).hasClass('bg-gray-500 text-gray-100')) {
                                            $(this).removeClass('bg-gray-500 text-gray-100');
                                        }
                                    });
                                    $('#contenedor-numero-pregunta').show();
                                    $('#contenedor-pregunta').show();
                                    $('#resultado').remove();
                                }, 2000);
                            },);
                        } else {
                            let opcion_seleccionada = $('.opcion').filter(function () {
                                return $(this).text() === data.respuesta;
                            });
                            opcion_seleccionada.addClass('bg-red-500 text-white hover:bg-red-600');
                            setTimeout(function () {
                                $('#contenedor-numero-pregunta').remove();
                                $('#contenedor-pregunta').remove();
                                $('#container').hide().append('<div class="max-w-xl p-12 bg-white rounded-lg shadow-lg neon-border">' +
                                        '<h2 class="text-4xl font-bold text-center text-purple-700 mb-10">¡Partida finalizada!</h2>' +
                                        '<p class="text-xl mb-4">Respuesta correcta: <span class="font-bold text-xl text-red-700">' + data.respuesta_correcta + '</span></p>' +
                                        '<span class="text-xl mb-8 font-semibold text-red-500"></span>' +
                                        '<div class="my-10 text-center">' +
                                        '<p class="text-2xl text-purple-700">Puntaje final:</p>' +
                                        '<p class="text-6xl font-bold text-purple-500">' + data.puntos + '</p>' +
                                        '</div>' +
                                        '<div class="flex justify-center space-x-4">' +
                                        '<a onclick="clickeaLink()" href="/tpFinal/partida/pregunta" class="bg-purple-500 neon-border hover:bg-purple-600 text-white px-6 py-3 rounded-md font-medium">Jugar de nuevo</a>' +
                                        '<a onclick="clickeaLink()" href="/tpfinal/lobby" class="bg-white border neon-border hover:bg-purple-600 text-black hover:text-white px-6 py-3 rounded-md font-medium">Volver al lobby</a>' +
                                        '</div>' +
                                        '</div>'
                                ).show();
                            }, 2000);
                        }
                    }
                    ,
                    error: function (xhr, status, error) {

                    }
                });
            }
        });
        $('#usarTrampita').click(function () {
            if (cantidadTrampitas > 0) {
                let $recuadro = $('<div id="recuadroTrampita">').addClass('flex justify-center items-center fixed inset-0 bg-gray-500 bg-opacity-80');
                let $contenidoRecuadro = $('<div>').addClass('flex flex-col justify-center items-center w-[80%] sm:w-[450px] h-[450px] sm:h-[500px] bg-white border border-gray-100');
                $recuadro.append($contenidoRecuadro);
                $contenidoRecuadro.append('<p class="text-center text-3xl text-purple-500 font-bold m-4">¿Desea usar una trampita para responder la pregunta?</p>');
                $contenidoRecuadro.append('<img src="/TpFinal/public/img/happy-man.png" class="w-64 my-6"/>');
                $contenidoRecuadro.append('<div class="w-full flex justify-center"><button id="cancelarTrampita" class="w-2/5 bg-red-500 hover:bg-red-600 duration-300 text-white text-sm font-bold tracking-wide rounded-full mx-2 px-5 py-2">No</button><button type="submit" id="enviarTrampita" class="w-2/5 bg-green-500 hover:bg-green-600 duration-300 text-white text-sm font-bold tracking-wide rounded-full mx-2 px-5 py-2">Sí</button></div>');
                $('body').append($recuadro);
                $('#enviarTrampita').click(function () {
                    respondio = true;
                    $.ajax({
                        url: 'http://localhost/tpFinal/partida/usarTrampita',
                        type: 'POST',
                        data: {
                            id_pregunta: $('#id_pregunta').val()
                        },
                        success: function (response) {
                            $recuadro.remove();
                            let data = JSON.parse(response);

                            $('#puntaje').text(data.puntos);
                            setTimeout(function () {
                                $('#contenedor-numero-pregunta').hide();
                                $('#contenedor-pregunta').hide();
                                cargarPregunta();
                                respondio = false;
                                tiempoRestante += 2
                                $('#container').hide().append('<div id="resultado" class="bg-white shadow-lg rounded-lg p-8 neon-border">' +
                                        '<h1 class="text-5xl font-bold text-center text-blue-700 my-8">¡Respuesta Correcta!</h1>' +
                                        '<div class="flex justify-center items-center">' +
                                        '<img src="/TpFinal/public/img/carafeliz1.png" class="h-32" alt="Cara Feliz" />' +
                                        '</div>' +
                                        '<div class="my-8 loading w-full h-auto flex justify-center items-center">' +
                                        '<div class="line-box w-4/5 border border-2 border-gray-200 rounded-2xl">' +
                                        '<div class="line h-5 rounded-2xl bg-[#67D295]">' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>'
                                ).show();
                                setTimeout(function () {
                                    $('#nroPregunta').text(data.puntos + 1);
                                    $('#respuesta_seleccionada').val('');
                                    $('.opcion').each(function () {
                                        if ($(this).hasClass('bg-gray-500 text-gray-100')) {
                                            $(this).removeClass('bg-gray-500 text-gray-100');
                                        }
                                    });
                                    $('#contenedor-numero-pregunta').show();
                                    $('#contenedor-pregunta').show();
                                    $('#resultado').remove();
                                }, 2000);
                            },);
                        },
                        error: function (xhr, status, error) {

                        }
                    });
                });
                $('#cancelarTrampita').click(function () {
                    $recuadro.remove();
                });
            } else {
                $('#contenedor-pregunta').append('<div id="errorTrampita" class="w-[90%] bg-red-300 text-red-800 font-bold mx-auto mt-6 p-3 rounded">No tenés trampitas.</div>');
            }
        });
    });
</script>
